.banner-principal {
    width: 100%;
    height: 60px !important;
    background: #252222;
    border-bottom: solid 1px #131212;
    display: inline-table;
    position: relative;
}

.logo {
    display: inline-block;
    margin-top: 1px;
    cursor: pointer;
    position: relative;
    top: 5px;
}

.custom-search {
    display: inline-table;
    width: 300px;
    margin-left: 80px;
    position: relative;
    left: 14px;
    top: -18px
}

.custom-search-input {
    width: 100%;
    border: 3px solid #ccc;
    border-radius: 100px;
    padding: 10px 100px 10px 20px;
    line-height: 1;
    box-sizing: border-box;
    outline: none;
}

.custom-search-botton {
    cursor: pointer;
    position: absolute;
    right: 3px;
    top: 3px;
    bottom: 3px;
    border: 0;
    outline: none;
    margin: 0;
    border-radius: 100px;
    z-index: 2;
    background-color: white;
}

.account {
    display: inline-block;
    margin-left: 450px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.account strong {
    position: relative;
    top: -14px;
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
}

#carrinho {
    margin-right: 11px;

}

#conta {
    margin-left: 10px;

}

body {
    size: 100%;
}

.sld-wrp {
    width: 556px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    right: 335px;
}

.slider-for {
    width: 800px;
    margin: 0 auto;
    position: relative;
}

.slide-container {
    height: 100%;
    font-weight: bold;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.slide-btn {
    text-align: left;
    box-sizing: border-box;
    cursor: pointer;
}

.slider-nav {
    margin: 10px;
}


.texto {
    margin-left: 53%;
    margin-right: 12%;
    margin-top: 5%;
    position: relative;
    bottom: 522px;
}

.texto h2 {
    height: 65px;
    font-size: 27px;
}

.texto p {
    font-size: 18px;
}


.minik div {
    margin-left: 10px;
    cursor: pointer;
}

.botoes {
    position: relative;
    left: 731px;
    bottom: 463px;
}

.comprar {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.comprar:hover,
.comprar:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

.addcart:active {
    opacity: .5;
}

.addcart {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    margin: 30px;
    position: relative;

}

.addcart:hover,
.addcart:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

.addcart:active {
    opacity: .5;
}



.fichaava,
.fichatec {
    background-color: black;
    width: 100%;
    height: 30px;
    margin-top: 2px;
    color: white;
    margin-bottom: 5px;
    cursor: pointer;
    border: none;
    overflow: hidden;
    position: relative;
    bottom: 235px;
}

.left {
    display: inline-block;
    text-align: left !important;
    margin-right: 1200px;
    cursor: pointer;

}

#mais {
    margin-right: 1180px !important;
    cursor: pointer;


}

.right {
    display: inline-block;
    size: 10px;
    cursor: pointer;

}


.texto_interno p {
    height: 200px;
    cursor: default;
}


.rodape {
    background-image: url(../img/banner_rodape.png);
    top: 100%;
    bottom: 0%;
    width: 100%;
    height: 120px;
    margin-top: 100%px;


}

#footer {
    position: relative;
    bottom: 0%;
    display: inline-table;
    margin-top: -49px;
    margin-left: 10px;
    margin-bottom: -8%;
    max-width: 100%;
}

.rodape p {
    display: inline-block !important;
    position: relative;
    margin-left: 254px;
    margin-top: 24px;
    cursor: pointer;
    text-align: left;
    text-decoration: 10px;
}

.maior {
    cursor: default;
    margin-bottom: 10px;
    font: italic 18px sans-serif;
}